/*
  styling for components and pages following
  BEM pattern: https://cssguidelin.es/#bem-like-naming
*/
@use "@carbon/layout";
@use "@carbon/colors";
@use "@carbon/themes";
@use "@carbon/type";
@use "@carbon/grid";

.layout {
    margin-top: layout.$spacing-09;
    background: themes.$background;
    min-height: 100vh;
}

.page--article {
    background-image: url("../images/background.svg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center bottom;
    background-attachment: fixed;
    min-height: 100vh;
    margin-left: -(layout.$spacing-06);
    padding-top: layout.$spacing-13;
    padding-left: layout.$spacing-07;
    padding-right: layout.$spacing-07;
    color: themes.$text-on-color;

    h2 {
        @include type.type-style("heading-07");
        margin-bottom: layout.$spacing-07;
    }

    p {
        @include type.type-style("body-02");
    }

    .page--article__content {
        position: sticky;
        top: (layout.$spacing-13 * 2);
    }

    @include grid.breakpoint(lg) {
        padding-left: layout.$spacing-09;
        padding-right: layout.$spacing-09;
    }
}

.page--form {
    background: themes.$background;
    padding: layout.$spacing-04;

    h1 {
        @include type.type-style("heading-04");
        margin-top: layout.$spacing-07;
        margin-bottom: layout.$spacing-04;
    }

    p {
        @include type.type-style("body-01");
        margin-bottom: layout.$spacing-07;
    }

    @include grid.breakpoint(lg) {
        padding: layout.$spacing-07;
    }
}
